
    <div *ngIf="this.authService.isLoggedIn(); else notLoggedIn">
        <h1>Bon retour parmi nous, <span class="has-text-primary">{{ user.username }}</span> !</h1>
        <h2>Votre espace de suivi des tickets</h2>
        <hr/>
        <div *ngIf="!this.noTicket; else noTicketMessage">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Intitulé</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th>Etat</th>
                        <th><p>Action</p></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr *ngFor="let ticket of tickets">
                        <td><strong>{{ ticket.id }}</strong></td>
                        <td>{{ ticket.nom }}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.date | date:'le dd/MM/yyyy à HH:mm' }}</td>
                        <td [ngClass]="(ticket?.etat | etat).class">{{ (ticket?.etat | etat).text }}</td>
                        <td *ngIf="!this.authService.isSupport()"><a class="button is-primary" [routerLink]="['ticket', ticket.id]">Voir les détails</a></td>
                        <td *ngIf="this.authService.isSupport()">
                            <button class="button is-primary" (click)="modal.openModal(ticket, 'response')">Répondre</button>
                        </td>

                        <td *ngIf="this.authService.isSupport()" (click)="modal.openModal(ticket, 'close')"><a class="button is-danger">Fermer le ticket</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <app-modal #modal>
        </app-modal>



        <ng-template #noTicketMessage>
            <h3>Vous n'avez pas de ticket en cours.</h3>
        </ng-template>
    </div>
    <ng-template #notLoggedIn>
        <h1>Vous n'êtes pas connecté.</h1>
    </ng-template>
