<div>
  <h1>Dashboard</h1>
  <h2>Nombre total de tickets: {{ this.nbTickets }}</h2>
  <h3>Filtrer par: </h3>
  <div class="tabs is-centered">
    <ul>
      <li [class.is-active]="activeTab === 'date'" (click)="setActiveTab('date');filterTickets();"><a>Date</a></li>
      <li [class.is-active]="activeTab === 'categorie'" (click)="setActiveTab('categorie')"><a>Catégorie</a></li>
      <li [class.is-active]="activeTab === 'etat'" (click)="setActiveTab('etat')"><a>État</a></li>
    </ul>
  </div>


  <app-chart [data]="filteredTickets" [chartType]="chartType" [filtre]="activeTab"></app-chart>

  <form [formGroup]="dateForm" *ngIf="activeTab === 'date'" (ngSubmit)="filterTickets()">
    <div class="field">
      <label class="label" for="startDate">Date de début:</label>
      <div class="control">
        <input class="input" type="date" id="startDate" formControlName="startDate" required>
      </div>
    </div>

    <div class="field">
      <label class="label" for="endDate">Date de fin:</label>
      <div class="control">
        <input class="input" type="date" id="endDate" formControlName="endDate" required>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary mt-3">Filtrer</button>
      </div>
    </div>
  </form>

  <form [formGroup]="categoryForm" *ngIf="activeTab === 'categorie' || activeTab === 'etat'">
    <div class="field">
      <label class="label" for="categorie">Catégorie:</label>
      <div class="control">
        <div class="select">
            <select id="categorie" name="categorie" formControlName="categorie" (change)="filterTicketsByCategory()">
              <option value="" selected disabled>Sélectionner un type de graphique</option>
              <option value="doughnut">Donuts</option>
              <option value="bar">Bar</option>
            </select>
        </div>
      </div>
    </div>
  </form>

</div>