<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">
          Accueil
        </a>
  

      </div>
      <div class="navbar-end">
        <a *ngIf="!authService.isLoggedIn()" class="navbar-item" [routerLink]="['/registration']" routerLinkActive="is-active">
          Inscription
        </a>
        <a *ngIf="!authService.isLoggedIn()" class="navbar-item" [routerLink]="['/login']" routerLinkActive="is-active">Connexion</a>

        <a *ngIf="authService.isLoggedIn()" class="navbar-item" [routerLink]="['/profil']" routerLinkActive="is-active">Profil</a>
        <a *ngIf="authService.isLoggedIn()" class="navbar-item" (click)="this.logout()">Déconnexion</a>
      </div>
    </div>
  </nav>
</header>
<main>
  <section>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>