<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <p class="navbar-item">PRAGMATISM APP</p>
        <a class="navbar-item" [routerLink]="['/']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">
          Accueil
        </a>
  

      </div>
      <div class="navbar-end">
      <div class="navbar-item">
          <div class="buttons">
            <a *ngIf="authService.isLoggedIn() && !authService.isSupport()" class="button is-primary" [routerLink]="['/create-ticket']" routerLinkActive="is-active">Créer un ticket</a>
            <!--
            <a *ngIf="authService.isSupport()" class="button is-primary" [routerLink]="['/dashboard']" routerLinkActive="is-active">Dashboard</a>-->
          </div>
        </div>
        <a *ngIf="!authService.isLoggedIn()" class="navbar-item" [routerLink]="['/login']" routerLinkActive="is-active">Connexion</a>
        <div class="navbar-item">
          <a *ngIf="!authService.isLoggedIn()" class="button is-primary" [routerLink]="['/registration']" routerLinkActive="is-active">
            Inscription
          </a>
        </div>
        <div class="navbar-item" *ngIf="authService.isSupport()">
          <a class="button is-primary" [routerLink]="['/dashboard']" routerLinkActive="is-active">
            Dashboard
          </a>
        </div>
        <div class="navbar-item">
          <a *ngIf="authService.isLoggedIn()" class="button" [routerLink]="['/profil']" routerLinkActive="is-active">Profil</a>
        </div>
        <div class="navbar-item">
          <a *ngIf="authService.isLoggedIn()" class="button" (click)="this.logout()">
            Déconnexion
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <section>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>