
  <form [formGroup]="registerForm" (submit)="submitForm()">
    <h1>Enregistrement</h1>
    <div class="field">
      <label class="label">Nom</label>
      <div class="control">
        <input class="input" type="text" placeholder="John Doe" formControlName="username">
      </div>
    </div>
    <div class="field">
      <label class="label">Mot de passe</label>
      <div class="control">
        <input class="input" type="password" placeholder="Votre mot de passe..." formControlName="password">
      </div>
    </div>
    <div class="control">
      <button type="submit" class="button is-link">S'inscrire</button>
    </div>
    </form>

