<div class="modal" [class.is-active]="isActive">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="box">

      <ng-container *ngIf="actionType === 'response'">
        <h3 class="is-size-3 has-text-primary">Voulez-vous répondre au ticket #{{ this.ticket?.id }}?</h3>
        <p>Vous serez en charge de ce ticket.</p>
        <hr/>
        <div class="buttons">
            <a class="button is-primary" (click)="subscribeTicket(this.ticket)">Confirmer</a>
            <a class="button is-danger" (click)="this.closeModal()">Annuler</a>
          </div>
      </ng-container>


      <ng-container *ngIf="actionType === 'close'">
        <h3 class="is-size-3 has-text-primary">Voulez-vous fermer le ticket #{{ this.ticket?.id }}?</h3>
        <p>Cette action est irréversible.</p>
        <hr/>
        <div class="buttons">
            <a class="button is-primary" (click)="closeTicket(this.ticket)">Confirmer</a>
            <a class="button is-danger" (click)="this.closeModal()">Annuler</a>
        </div>
      </ng-container>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>